export DEEPSEEK_API_KEY=
export OPENROUTER_API_KEY=
#export GARMIN_EMAIL=
export GARMIN_EMAIL=test@test.com # if you don't have a Garmin Connect Account
export GARMIN_PASSWORD=
export GARMIN_TOKENSTORE=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=
